body {
	background: #333;
}
.container {
	background: url('../img/comp_plate_graybasic.png') no-repeat;
	width: 320px;
	height: 340px;
	position: absolute;
	top: 50%;
	margin-top: -170px;
	left: 50%;
	margin-left: -160px;
	padding: 5px 0;
}
* {
	margin: 0;
	padding: 0;
}
.mainWrapper {
	font-family: sans-serif;
	position: relative;
    width: 100%;
    height: 100%;
}
.viewport {
	width: 100%;
    position: relative;
    overflow: hidden;
    height: 295px;
    opacity: 1.0;              /* CSS3 */
  	-moz-opacity: 1.0;         /* Older versions of Firefox */
  	-khtml-opacity: 1.0;       /* Older versions of Safari */
  	filter: alpha(opacity=100); /* Internet Explorer */      
}
ul li {
    list-style: none;
}
.slider .slide {    
    position: absolute;
    width: 100%;    
	height: 100%;
	display: none;
	
}
.slide.currentSlide { 	/*this is for the currently visible slide it's the only one that shows, with full opacity */
	display: block; 
}
.imgWrap {
	width: 312px;
	height: 200px;
	position: relative;
	margin: 0 auto;
}
.imgWrap img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px 5px 0 0;
	
}
.slideContent {
	padding: 10px;
	position: relative;
}
.slideHeader {
	color: #FD6E1E;
	font-weight: bold;
	font-size: 18px;
}
.slideContentBox {
	height: 30px;
	overflow: hidden;
}
.slideDescription {
	font-size: 11px;
    white-space: normal;    
    overflow: hidden;
    color: #333;
    line-height: 14px;
    padding: 3px 11px 0px 3px;
}
.details {
	font-size: 10px;
	color: grey;
	padding: 3px 11px 0px 3px;
	display: none;
}
.detailsLink {
	font-size: 11px;
	text-decoration: underline;
	color: #FD6E1E;
	padding: 0 3px;
}
.detailsLink:hover {
	color: #915736;
	cursor: pointer;
}
.buttonsPanel {
	padding: 0 10px;
}
.btn {
	width: 68px;
    min-height: 26px;
    float: left;   
    font-size: 11px;
    color: grey;
    opacity: 0.8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
#prevBtn {
	padding: 7px 0 0 33px;
}
#nextBtn {
	padding: 7px 0 0 13px;
	margin-left: 4px;
}
.control {
	position: absolute;
	width: 15px;
	height: 10px;
	top: 9px;
}
#prevArrow {	
	left: 3px;
}
#nextArrow {
	right: 3px;
}
.openedDetails .slideContent {
	position: relative; 
}
.openedDetails .details {
	display: block;
}
